/* General Styling */
body {
    background-image: url(../images/dark-honeycomb.png);
}

/* Home Page Images */
#rockHome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

#introText, #instructionsText {
    background-image: url(../images/floor-tile.png);
}

#paperHome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 350px;
}

#scissorsHome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
}

#homePics {
    margin-top: 50px;
}

/* Footer */
footer {
    color: orange;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}

/* Game Page */
#rpsGameCards {
    margin: 100px 0px 0px 465px;
}

#rockGame, #paperGame, #scissorsGame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#scoreCounts {
    color: antiquewhite;
    margin-top: 25px;
    background-color: blue;
    text-align: center;
}